.services {
  padding: 40px 20px;
  background-color: #eaeaea;
  text-align: center;

  max-width: 850px;
  margin: 0 auto;

  .presentation {
    display: flex;
    align-items: end;
    margin-bottom: 30px;
    h2 {
        text-align: left;
        width: 60%;
        font-size: 30px;
        color: #2B3233;
        margin-bottom: 10px;
        .necessary-services {
            color: #54ADB3;
        }
  }


    p {
        width: 40%;
        font-size: 16px;
        color: #666;
        // margin-bottom: 30px;
    }
  }

  .services-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .top {
      display: flex;
      gap: 10px;

      .service-card {
        cursor: pointer;
        width: 50%;
        height: 200px;
        background-color: rgba(84, 173, 179, 0.8);
        background-size: 100%;
        background-position: center;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        color: white;
        transition: transform 0.3s, box-shadow 0.3s;
        h3 {
          text-shadow: 1px 1px 5px #000;
          margin-top: 0px;
          text-align: left;
          font-size: 24px;
          transition: color 0.3s;
        }
        
  
        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
      }
    }
    .bottom {
      display: flex;
      gap: 10px;
      .service-card {
        cursor: pointer;
        width: 35%;
        height: 200px;
        background-color: rgba(84, 173, 179, 0.8);
        background-size: cover;
        background-position: center;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 20px;
        color: white;
        transition: transform 0.3s, box-shadow 0.3s;
        h3 {
          text-shadow: 1px 1px 5px #000;
          margin-top: 0px;
          text-align: left;
          font-size: 24px;
          transition: color 0.3s;
        }
  
        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
        }
      }
    }



    .more-services {
      border-radius: 8px;
      width: 20%;
      background-color: #333;
      display: flex;
      align-items: end;
      color: white;
      font-size: 18px;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #555;
      }
    }

    .service-card.service-card-1 {
      grid-area: service1;
    }

      .service-card.service-card-2 {
      grid-area: service2;
    }

    .service-card.service-card-3 {
      grid-area: service3;
    }

    .service-card.service-card-4 {
      grid-area: service4;
    }

    .service-card.more-services {
      grid-area: service5;
    }

    
  }

  .service-modal-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    .service-modal {
      position: relative;
      transform: none;
      width: auto;
      height: auto;
    }
  }
} 