<section class="location">
    <div class="title">
        <h2><span>¡Visítanos!</span> Estamos cerca de ti para cuidar tu sonrisa y brindarte la mejor atención dental</h2>
    </div>
    <div class="info">
        <div class="address">
            <label for="address">Dirección:</label>
            <address>Av. San Martín 1234, Santiago del Estero, Argentina</address>
        </div>
        <div class="phone">
            <label for="phone">Teléfono:</label>
            <p>+54 385 423-1234</p>
        </div>
        <div class="email">
            <label for="email">Email:</label>
            <p>info&#64;clinicasalud.com</p>
        </div>
    </div>
    <div class="map">
        <div id="map" style="height: 400px;"></div>
    </div>
</section>