<footer>
    <div class="content">
        <div class="logo">
            <div class="img-logo">
                <img src="assets/icons/logo.png" alt="Logo">  
            </div>
            <div class="desc">
                <p>
                    La clinica odontologica donde la salud y el bienestar son nuestra prioridad
                </p>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Servicios</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
            </ul>
        </nav>
        <div class="social">
            <h3>Síguenos en nuestras redes</h3>
            <div class="social-links">
                <a href="#"><img src="assets/icons/facebook.png" alt="Facebook">
                <p>Facebook</p></a>
                <a href="#"><img src="assets/icons/instagram.png" alt="Instagram">
                <p>Instagram</p></a>
                <a href="#"><img src="assets/icons/whatsapp.png" alt="Whatsapp">
                <p>Whatsapp</p></a>
            </div>
        </div>
        <div class="contact">
            <p>+54 9 11 3456-7890</p>
            <button class="btn-contact">Contactar</button>
        </div>
    </div>
    <div class="ads"></div>
</footer>