<div class="contact-container">
  <div class="info-section">
    <div class="info-content">
      <h2>Diagnóstico gratuito para nuevos pacientes</h2>
      <p>Conozca el estado de sus dientes y obtenga recomendaciones personalizadas</p>
    </div>
    <form>
      <div class="input-box">
        <label for="name">
          <img src="assets/icons/persona.png" alt="User">
        </label>
        <input type="text" placeholder="Ingrese su nombre" required>
      </div>
      <div class="input-box">
          <label for="phone">
          <img src="assets/icons/correo.png" alt="Phone">
        </label>
        <input type="email" placeholder="Ingrese su correo electrónico" required>
      </div>
      <div class="consent">
        <input type="checkbox" id="consent" required>
        <label for="consent">Estoy de acuerdo con la Política de Privacidad del sitio</label>
      </div>
      <button type="submit">DIAGNÓSTICO GRATUITO</button>
    </form>
  </div>
  <div class="image-section">
    <img src="assets/images/form.jpeg" alt="Doctor">
  </div>
</div>
