.contact-container {
  display: flex;
  background-color: #2C3134;
  color: #ecf0f1;
  border-radius: 10px;
  overflow: hidden;
  height: 550px;
  
  .info-section {
    padding: 20px;
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .info-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      width: 80%;

      h2 {
        font-size: 24px;
        margin-bottom: 10px;
      }
  
      p {
        margin-bottom: 20px;
      }
      margin-bottom: 20px;
      margin-top: 20px;
    }

    form {
      display: flex;
      flex-direction: column;
      margin-right: 25px;

      .input-box {
        display: flex;
        align-items: center;
        margin-bottom: 10px;
        width: 70%;
        border-radius: 8px;
        background-color: #ecf0f1;
        label {
          display: flex;
          align-items: center;
          height: 45px;
          img {
            padding: 10px;
            height: 75%;
          filter: invert(62%) sepia(55%) saturate(402%) hue-rotate(140deg) brightness(86%) contrast(86%);
          }
        }

        input {
          background-color: #ecf0f1;
          width: 100%;
          height: 47px;
          border: none;
          border-radius: 8px;
        }
      }

      .consent {
        margin-top: 50px;
        display: flex;
        align-items: center;
        margin-bottom: 10px;

        input[type="checkbox"] {
          margin-right: 5px;
          width: 15px;
          height: 15px;
        }
      }

      button {
        width: 70%;
        padding: 15px;
        background-color: #54ADB3;
        color: #fff;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:hover {
          background-color: #16a085;
        }
      }
    }
  }

  .image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    img {
      object-fit: cover;
      max-width: 100%;
      height: 100%;
      border-radius: 10px;
    }
  }
}
