<section class="about">
    <div class="about-container">

        <div class="idk">
            <h2>Sobre nosotros</h2>
    </div>
    <div class="about-content">
        <h2>Clínica Dental Pro — fundada en marzo de 2010</h2>
        <p>Objetivo: «Dental Pro» hacer un tratamiento dental de calidad y accesible para todos.</p>
        <p>Valores: la honestidad y la transparencia son la base de nuestra salud.</p>
        <p>Nuestra misión es proporcionar atención dental integral y personalizada, asegurando que cada paciente reciba el mejor tratamiento posible en un ambiente cómodo y amigable.</p>
        <p>Nuestra visión es ser la clínica dental de referencia en la comunidad, conocida por nuestra dedicación a la salud dental y el bienestar de nuestros pacientes.</p>
        <div class="stats">
        <div class="stat">
            <h3>14 años</h3>
            <p>Experiencia laboral</p>
        </div>
        <div class="stat">
            <h3>10k+</h3>
            <p>Pacientes felices</p>
        </div>
        <div class="stat">
            <h3>15+</h3>
            <p>Especialistas calificados</p>
        </div>
        </div>
    </div>
</div>
</section>